* {
    transition: 0.5s;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
}
.background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(40%) blur(4px);
}
.fadeRedirect {
    opacity: 0.0;
}
.formBox {
    padding: 0 40px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}
.formBox h2 {
    color: #adadad;
    text-align: center;
    margin-top: 40px;
}
.formTextField {
    position: relative;
    border-bottom: 1px solid #adadad;
    transition: 0.5s;
    cursor: pointer;
    margin: 30px auto;
    font-size: 20px;
}
.formTextField:hover {
    border-color: rgba(42, 177, 207, 0.8);
}

.formTextField:focus {
    outline: none;
    border-color: rgba(42, 177, 207, 0.8);
}
.formText {
    cursor: pointer;
    color: white;
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 15.5px;
    border: none;
    background: none;
    outline: none;
}
.formTextField label {
    position: absolute;
    font-weight: bold;
    top: 45%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}
.formTextField span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: rgba(42, 177, 207, 0.8);
    transition: 0.5s;
}
.formTextField input:focus ~ label,
.formTextField input:valid ~ label {
    top: -7px;
    color: rgba(42, 177, 207, 0.8);
}
.formTextField input:focus ~ span::before,
.formTextField input:valid ~ span::before {
    width: 100%;
}
.submitBtn {
    background-color: rgba(42, 177, 207, 0.8);
    border: 2px solid rgba(42, 177, 207, 0.8);
    border-radius: 10px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14.4px;
    outline: none;
    margin: auto;
    display: block;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.8s;
    width: 85%;
    color: #292241;
    transition: 0.3s;
    height: 40px;
}
.submitBtn:hover {
    background-color: rgba(105, 221, 247, 0.8);
    border-color: rgba(42, 177, 207, 0.8);
}
.submitBtn:active {
    background-color: transparent;
    border-color: rgba(42, 177, 207, 0.8);
    color: rgba(42, 177, 207, 0.8);
    transition: 0.2s;
}
.formHint {
    text-align: center;
    display: block;
    margin: auto;
    width: 100%;
    color: lightgray;
    font-size: 15px;
    transition: 0.5s;
    margin-top: 50px;
}
.formHint div {
    color: lightgray;
    transition: 0.2s;
    display: inline;
    cursor: pointer;
    text-decoration: underline;
}
.formHint div:hover {
    color: rgba(42, 177, 207, 0.8);
}
.loadingAnim {
    display: inline-block;
    position: absolute;
    left: calc(50% - 17.5px);
    width: 35px;
    height: 35px;
    opacity: 0.0;
    z-index: -1;
}
.loadingAnim div {
    position: absolute;
    border: 2px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: loadingAnim 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loadingAnim div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes loadingAnim {
    0% {
        top: 17px;
        left: 17px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 17px;
        left: 17px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 17px;
        left: 17px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 34px;
        height: 34px;
        opacity: 0;
    }
}
.centerBox {
    position: absolute;
    top: 15vh;
    left: 50%;
    width: 380px;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    background-color: rgba(3, 12, 54, 0.8);
    backdrop-filter: blur(5px);
    transform: translateX(-50%);
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 1);
}
.centerBox h1 {
    text-align: center;
    font-weight: 400;
    color: #467fff;
    padding-top: 2vh;
    padding-bottom: 3.5vh;
    border-bottom: 1px solid gray;
}
.popupBox {
    font-family: 'Inter Tight';
    width: 400px;
    height: 80px;
    position: fixed;
    z-index: 5;
    top: 100%;
    left: 99.5%;
    transform: translate(-100%);
    background-color: rgba(3, 12, 54, 0.8);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: 0.5s;
}
.popupText {
    float: right;
    width: 85%;
    text-align: center;
    position: absolute;
    top: 49%;
    left: 12%;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: bold;
    color: #999;
}
.popupTimeBar {
    position: absolute;
    top: 100%;
    height: 3px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.4);
    transform: translateY(-100%);
}
.popupIcon {
    float: left;
    height: 100%;
    width: 15%;
    text-align: center;
    position: relative;
}
.popupIcon img {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}
.addonsTile {
    height: 10vh;
    width: 100%;
    margin: 9% 0;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    line-height: 10vh;
}
.addonsTile:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.addonsTile:active {
    background-color: rgba(0, 0, 0, 0.4);
}
.addonsTile h3 {
    color: #aaa;
    text-align: center;
    font-size: 16px;
}
.addonsTile img {
    display: inline;
    margin-right: 30px;
}